* {
    background: black;
}

h1 {
    text-align: center;
    color: rgb(64, 64, 64)
}


p {
    font-family: Arial, sans-serif;
    font-size: medium;
    outline-color: black;
    outline-style: auto;
    outline-width: 5px;
    color:white;
    background-color: rgb(11, 13, 16)
}
